<mat-toolbar color="primary">
  <span>Budget Tool</span>

  <span class="spacer"></span>

  <button
    mat-button
    (click)="logout()">

    Logout

  </button>
</mat-toolbar>

<div class="page-container">

  @if (!isMobile) {

<div class="desktop-container">

  <div class="list-panel">

    <mat-form-field appearance="outline">
      <mat-label>Zoeken</mat-label>
      <input matInput>
    </mat-form-field>

    <mat-nav-list>

      @for (transaction of transactions; track transaction.id) {

      <mat-list-item
        (click)="selectTransaction()">

        {{ transaction.datum }}
        -
        {{ transaction.tegenpartij }}

      </mat-list-item>

      }

    </mat-nav-list>
    <button
    mat-raised-button
    color="primary"
    class="new-button"
    (click)="createNew()">

    Nieuw

  </button>

  </div>

  <div class="detail-panel">

    <!-- huidig formulier -->

  </div>

</div>

}

@if (isMobile && !showDetails) {

<div class="mobile-list">

  <mat-form-field appearance="outline">
    <mat-label>Zoeken</mat-label>
    <input matInput>
  </mat-form-field>

  <mat-nav-list>

    @for (transaction of transactions; track transaction.id) {

    <mat-list-item
      (click)="selectTransaction()">

      {{ transaction.datum }}
      -
      {{ transaction.tegenpartij }}

    </mat-list-item>

    }

  </mat-nav-list>

  <button
    mat-raised-button
    color="primary"
    class="new-button"
    (click)="createNew()">

    Nieuw

  </button>

</div>

}

@if (isMobile && showDetails) {

<div class="mobile-detail">

  <button
    mat-button
    (click)="back()">

    ← Terug

  </button>

  <!-- huidig formulier -->

</div>

}
  

</div>