<div class="page-container">

  <mat-toolbar color="primary">
  <div class="menu-header">
    Welkom {{ user?.firstName }}
  </div>

  <mat-divider></mat-divider>

  <button
    mat-icon-button
    [matMenuTriggerFor]="profileMenu"
    class="logout-button">

    <div class="avatar">
      {{ avatarLetter }}
    </div>

  </button>

  </mat-toolbar>

  <mat-menu #profileMenu="matMenu">

    <button
      mat-menu-item
      (click)="openProfile()">

      <mat-icon>person</mat-icon>

      <span>Profiel</span>

    </button>

    <button
      mat-menu-item
      (click)="openDashboard()">

      <mat-icon>dashboard</mat-icon>

      <span>Leefbudget</span>

    </button>

    <button
      mat-menu-item
      (click)="openCashflowDashboard()">

      <mat-icon>dashboard</mat-icon>

      <span>Cashflow</span>

    </button>

    <button
      mat-menu-item
      (click)="logout()">

      <mat-icon>logout</mat-icon>

      <span>Uitloggen</span>

    </button>

  </mat-menu>

  @if (!isMobile) {

<div class="desktop-container">

  <div class="list-panel">

    <mat-form-field appearance="outline">
      <mat-label>Zoeken</mat-label>
      <input matInput
      [(ngModel)]="searchText"
      (ngModelChange)="pageIndex = 0">
    </mat-form-field>

    <button
      mat-raised-button
      color="primary"
      class="new-button"
      (click)="createNew()">

      Nieuw

    </button>

    <mat-nav-list>
      <mat-list-item
        *ngFor="let transaction of pagedTransactions"
        (click)="selectTransaction(transaction)">

        {{ transaction.datum | date:'dd/MM/yyyy' }}
        -
        {{ transaction.tegenpartij }}

      </mat-list-item>
    </mat-nav-list>

    <mat-paginator
      [length]="filteredTransactions.length"
      [pageSize]="pageSize"
      [pageSizeOptions]="[10,25,50,100]"
      (page)="pageIndex = $event.pageIndex; pageSize = $event.pageSize">
    </mat-paginator>
  
</div>

  @if (selectedTransaction !== null || mode === 'new') {
 <div class="detail-panel">

  <form [formGroup]="form">
    <mat-form-field appearance="outline">
      <mat-label>Datum</mat-label>
      <input
        matInput
        [matDatepicker]="datumPicker"
        formControlName="datum">
      <mat-datepicker-toggle
        matIconSuffix
        [for]="datumPicker">
      </mat-datepicker-toggle>
      <mat-datepicker #datumPicker></mat-datepicker>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Tegenpartij</mat-label>
      <input matInput formControlName="tegenpartij">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Bedrag</mat-label>
      <input matInput formControlName="bedrag">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Categorie</mat-label>
      <mat-select formControlName="categorie">
        <mat-option
          *ngFor="let categorie of categorieen"
          [value]="categorie">
          {{ categorie }}
        </mat-option>
      </mat-select>
    </mat-form-field> 

    <mat-form-field appearance="outline">
      <mat-label>Rekening</mat-label>
      <mat-select formControlName="rekening">
        <mat-option
          *ngFor="let rekening of rekeningen"
          [value]="rekening">
          {{ rekening }}
        </mat-option>
      </mat-select>
    </mat-form-field>   

    <mat-form-field appearance="outline">
      <mat-label>Opmerking</mat-label>
      <textarea
        matInput
        rows="3"
        formControlName="opmerking">
      </textarea>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Type</mat-label>
      <mat-select formControlName="type">
        <mat-option
          *ngFor="let type of types"
          [value]="type">
          {{ type }}
        </mat-option>
      </mat-select>
    </mat-form-field> 

    <mat-checkbox formControlName="project">
      Project
    </mat-checkbox>

    <mat-checkbox formControlName="intern">
      Intern
    </mat-checkbox>

    <div class="bottom-buttons">

    @if (mode === 'view') {

      <button
        mat-button
        (click)="cancel()">

        Annuleer

      </button>

      <button
        mat-raised-button
        color="primary"
        (click)="edit()">

        Aanpassen

      </button>
    }

    @if (mode !== 'view') {

      <button mat-button
      (click)="cancel()">
        Annuleer
      </button>

      <button
        mat-raised-button
        color="primary"
        (click)="submit()">

        Verzenden

      </button>
    }
    </div>

  </form>

</div>
}

</div>

}

@if (isMobile && !showDetails) {

<div class="mobile-list">

  <mat-form-field appearance="outline">
      <mat-label>Zoeken</mat-label>
      <input matInput
      [(ngModel)]="searchText"
      (ngModelChange)="pageIndex = 0">
    </mat-form-field>

    <button
      mat-raised-button
      color="primary"
      class="new-button"
      (click)="createNew()">

      Nieuw

    </button>

  <mat-nav-list>
      <mat-list-item
        *ngFor="let transaction of pagedTransactions"
        (click)="selectTransaction(transaction)">

        {{ transaction.datum | date:'dd/MM/yyyy' }}
        -
        {{ transaction.tegenpartij }}

      </mat-list-item>
    </mat-nav-list>

    <mat-paginator
      [length]="filteredTransactions.length"
      [pageSize]="pageSize"
      [pageSizeOptions]="[10,25,50,100]"
      (page)="pageIndex = $event.pageIndex; pageSize = $event.pageSize">
    </mat-paginator>

</div>

}

@if (isMobile && showDetails) {

<div class="mobile-detail">

  <form [formGroup]="form">

    <mat-form-field appearance="outline">
      <mat-label>Datum</mat-label>
      <input
        matInput
        [matDatepicker]="datumPicker"
        formControlName="datum">
      <mat-datepicker-toggle
        matIconSuffix
        [for]="datumPicker">
      </mat-datepicker-toggle>
      <mat-datepicker #datumPicker></mat-datepicker>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Tegenpartij</mat-label>
      <input matInput formControlName="tegenpartij">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Bedrag</mat-label>
      <input matInput formControlName="bedrag">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Categorie</mat-label>
      <mat-select formControlName="categorie">
        <mat-option
          *ngFor="let categorie of categorieen"
          [value]="categorie">
          {{ categorie }}
        </mat-option>
      </mat-select>
    </mat-form-field> 

    <mat-form-field appearance="outline">
      <mat-label>Rekening</mat-label>
      <mat-select formControlName="rekening">
        <mat-option
          *ngFor="let rekening of rekeningen"
          [value]="rekening">
          {{ rekening }}
        </mat-option>
      </mat-select>
    </mat-form-field>   

    <mat-form-field appearance="outline">
      <mat-label>Opmerking</mat-label>
      <textarea
        matInput
        rows="3"
        formControlName="opmerking">
      </textarea>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Type</mat-label>
      <mat-select formControlName="type">
        <mat-option
          *ngFor="let type of types"
          [value]="type">
          {{ type }}
        </mat-option>
      </mat-select>
    </mat-form-field> 

    <mat-checkbox formControlName="project">
      Project
    </mat-checkbox>

    <mat-checkbox formControlName="intern">
      Intern
    </mat-checkbox>

    <div class="bottom-buttons">

      @if (mode === 'view') {

      <button
        mat-button
        (click)="cancel()">

        ← Terug

      </button>

      <button
        mat-raised-button
        color="primary"
        (click)="edit()">

        Aanpassen

      </button>
    }

    @if (mode !== 'view') {

      <button mat-button
      (click)="cancel()">
        Annuleer
      </button>

      <button
        mat-raised-button
        color="primary"
        (click)="submit()">

        Verzenden

      </button>
    }

    </div>

  </form>

</div>

}
  

</div>